@import '../../styles/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: .4s ease-in-out;

  &:hover {
    opacity: .8;
  }

  &_w-full {
    width: 100%;
  }

  &_sm {
    padding: 8px 20px;
  }

  &_md {
    padding: 12px 24px;
  }

  &_primary {
    background: $primary-color;
    color: #fff;
  }

  &_error {
    background: $error-color;
    color: #fff;
  }
}
