body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(320.83deg, #A8EDEA -19.04%, #FED6E3 103.99%);
}

#app {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
