body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(320.83deg, #a8edea -19.04%, #fed6e3 103.99%);
}

#app {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
