* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background: linear-gradient(320.83deg, #a8edea -19.04%, #fed6e3 103.99%);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}
