@import '../../styles/variables';

.user-list {
  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 8px 0;
  }

  &__remove {
    width: 21px;
    height: 18px;
    cursor: pointer;
  }
}