<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat</title>

    <link rel="stylesheet" href="./styles/main.scss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <script type="module" src="index.ts"></script>
  </head>

  <body>
    <!-- Обернул приложение в main т.к. точно уверен, что на данный момент повторяющихся элементов на нескольких страницах нету -->
    <main id="app"></main>

    <!--  TODO: Временный блок для удобства просмотра сверстаных страниц, после удалить  -->
<!--    <nav style="display: flex; flex-direction: column; position: fixed; right: 30px; bottom: 30px; padding: 16px 24px; box-shadow: 0 0 5px #000; background: #FFF;">-->
<!--      <ul style="list-style-type: none;">-->
<!--        <li style="cursor: pointer;"><a onclick="window.goTo('Auth')">Auth</a></li>-->
<!--        <li style="cursor: pointer;"><a onclick="window.goTo('ErrorPage')">Error Page</a></li>-->
<!--        <li style="cursor: pointer;"><a onclick="window.goTo('Home')">Home</a></li>-->
<!--        <li style="cursor: pointer;"><a onclick="window.goTo('Registration')">Registration</a></li>-->
<!--        <li style="cursor: pointer;"><a onclick="window.goTo('Settings')">Settings</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
  </body>
</html>
