@import '../../../../styles/variables';

.dialog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  height: 66px;
  border-radius: 12px;
  background: $secondary-2-color;
  cursor: pointer;
  transition: .25s ease-in-out;

  &:hover:not(.dialog_active) {
    background: rgba($primary-color, .25);

    .dialog__name,
    .dialog__message {
      color: #FFF;
    }
  }

  &_active {
    background: rgba($primary-color, .4);

    .dialog__name,
    .dialog__message {
      color: #FFF;
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $secondary-3-color;
  }

  &__name,
  &__message {
    transition: .25s ease-in-out;
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    color: $text-primary;
  }

  &__message {
    font-size: 12px;
    font-weight: 500;
    color: $text-secondary;
  }
}
